<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Oxygen - One Page HTML Template | Themeum</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico">
</head><!--/head-->
<body>

<header>
</header>

<div class="container">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-1">
	Open Modal </button>
	<div class="modal" id="modal-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title"> télémaintenance </h2>
			     </div>  
					<div class="modal-body" style="background-color:#66cc66">
				    <p style="color:ffffff" > Pour certains types de problème il n'est pas forcément nécessaire que nous intervenions à domicile, l'équipe technique de Synapses vous dépanne en ligne par le biais de votre connexion internet (sous réserve que cette dernière fonctionne correctement et que vous soyez connecté en haut débit ADSL ou Câble). Le service de télémaintenance de Synapses, permet à nos clients de bénéficier d'un département de support informatique pouvant répondre à une multitude de questions et d'intervenir à distance par le biais de l'Internet. Ce service fut initialement mis en place pour répondre rapidement à des questions d'ordre technique qui ne nécessitaient aucune intervention en entreprise. Bénéficiant d'une multitude d'outils en télémaintenance, nous sommes dorénavant en mesure d'offrir une vaste gamme de services en ligne. Notre tarif est des plus compétitifs. Pour de plus amples informations, veuillez nous contacter au 73 333 690/73 232 018 </p>
					<hr/>
					<h3 style="color:ffffff"> Voici une infime partie de nos services offerts via la télémaintenance:</h3>
					<a href="#" style="color:ffffff">Support technique</a><br/>
					<a href="#" style="color:ffffff">Télémaintenance</a><br/>
					<a href="#" style="color:ffffff">Gestion de réseau</a><br/>
					<a href="#" style="color:ffffff">Configuration d'ordinateur</a><br/>
					<a href="#" style="color:ffffff">Installation logicielle et configuration</a><br/>
					<a href="#" style="color:ffffff">Sauvegarde en ligne</a><br/>
					<a href="#" style="color:ffffff">Implantation système sauvegarde</a><br/>
					<a href="#" style="color:ffffff">Logiciels de protection</a><br/>
					<a href="#" style="color:ffffff">Antivirus</a>

					
					</div>
						
						
			</div>
	
		</div>
	</div>
</div>

    <footer>
    </footer>
	
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



</body>
<html>