<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Oxygen - One Page HTML Template | Themeum</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico">
</head><!--/head-->
<body>

<header>
</header>

<div class="container">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-1">
	Open Modal </button>
	<div class="modal" id="modal-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title"> dépannage </h2>
			     </div>  
					<div class="modal-body" style="background-color:333399">
				  <p style="color:ffffff">  En cas de panne, Synapses vous propose son service dépannage informatique.Nous intervenons dans les plus brefs délais et vous garantissons le bon fonctionnement de votre système, quel que soit le temps passé.
					Ordinateur en panne, virus, perte de données, connexion Internet défaillante, messagerie bloquée, problèmes de réseau ou d'impression… <br/>
					Pour répondre efficacement à vos besoins, Synapses vous garantit un service de dépannage fiable et rapide, sur tous types de machines (PC, portables) et à un coût très raisonnable. Nous vous proposons un rendez-vous à votre convenance dans les locaux de votre société. L'ingénieur que nous vous enverrons déterminera l'origine de la panne et mettra en œuvre les procédures permettant un fonctionnement optimal et rapide de votre système. Le client sera invité lui-même, à l'issue de notre intervention, à procéder à tous les essais lui permettant de s'assurer que tout fonctionne normalement.</p>
					<hr/>
					<h3 style="color:#ffffff"> Nos Engagements: </h3>
					<a href="#" style="color:#ffffff">Un dépannage en urgence ou sur rendez-vous<a/><br/>
					<a href="#" style="color:#ffffff">Des techniciens hautement qualifiés <a/><br/>
					<a href="#" style="color:#ffffff">Un coût connu d'avance<a/><br/>
					<a href="#" style="color:#ffffff">Une réparation garantie 30 jours

					</div>
						
			</div>
	
		</div>
	</div>
</div>

    <footer>
    </footer>
	
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



</body>
<html>