<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Oxygen - One Page HTML Template | Themeum</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico">
</head><!--/head-->
<body>

<header>
</header>

<div class="container" >
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-1">
	Open Modal </button>
	<div class="modal" id="modal-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title"> Gestion réseau local </h2>
			     </div>  
					<div class="modal-body" style="background-color:ff6666">
				    <p style="color:ffffff">  Envie d'externaliser la gestion de votre réseau local, mais vous appréhendez la qualité de service? Riche de la compétence de son équipe dans le domaine, Synapses saura vous proposer une prestation sur mesure selon vos consignes, vos besoins et la nature de votre activité. De la création à la configuration, un interlocuteur unique se charge de la mise en place et de la gestion de votre réseau local de façon ponctuelle ou quotidienne, et au gré de vos besoins.</p>
					<h3 style="color:ffffff">nous vous proposons une offre compléte</h3>
					<ul style="color:ffffff"
					<li>Administrateur serveur : L'administration de réseau suit logiquement l'installation de réseau. Nous vous proposons de gérer le câblage, le routage, la sécurité, la messagerie, ainsi que vos comptes utilisateurs.</li>
					<li>Responsable de la sécurité et des mots de passe</li>
					<li>Responsable des licences</li>
					</ul>
					

					</div>
						
			</div>
	
		</div>
	</div>
</div>

    <footer>
    </footer>
	
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



</body>
<html>