<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Oxygen - One Page HTML Template | Themeum</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico">
</head><!--/head-->
<body>

<header>
</header>

<div class="container">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-1">
	Open Modal </button>
	<div class="modal fade" id="modal-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="Close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title"> Audit et conseil informatique </h2>
			     </div>  
					<div class="modal-body" style="background-color:33cc99">
				   <p style="color:#ffffff"> Aujourd'hui l'outil informatique a un rôle essentiel dans l'entreprise, il est donc nécessaire d'assurer sa fiabilité tant au niveau matériel, que logiciel,réseau ou humain. L'évolution de l'environnement de travail de l'entreprise influe 
					sur le fonctionnement général du parc informatique.<br/>
					<ul style="color:#ffffff" >
					<li >Les mises à jour de logiciels.</li>
					<li>L'ajout de postes informatiques au réseau et l'ajout de périphériques.</li>
					<li>Les interconnexions de réseaux (VPN ou internet) sont autant de critères qui peuvent altérer la fiabilité d'un système d'information.</li></p>
					</ul>
					<hr/>
					<h3 style="color:#ffffff" >L'audit du parc informatique a pour but d'évaluer régulièrement la quaqlitè et la sécurité de:</h3>	
					<a href="#" style="color:#ffffff">Vos réseaux (topologies et architectures).</a><br/>
					<a href="#" style="color:#ffffff">Vos équipements informatiques (PC et périphériques).</a><br/>
					<a href="#" style="color:#ffffff">Vos logiciels (mises à niveau, conformité des licences d'utilisation).</a>
					<hr/>
					<h3 style="color:#ffffff">L'audit organisationnel et fonctionnel permet de connaitre les acteurs de l'informatique dans votre entreprise et leur attributions:</h3>
					<a href="#" style="color:#ffffff"> Administrateur serveur</a> <br/>
					<a href="#" style="color:#ffffff">Responsable de la sécurité et des mots de passe</a><br/>
					<a href="#" style="color:#ffffff">Responsable des licences</a><br/>
					<a href="#" style="color:#ffffff">Responsable des sauvegardes</a>
					<hr/>
					<h3 style="color:#ffffff">L'audit de sécurité physique permet d'identifier la cohérence de vos infrastructure avec le niveau de sécurité qu'implique votre métier :  </h3>
					<a href="#" style="color:#ffffff">Localiser les informations sensibles.</a><br/>
					<a href="#" style="color:#ffffff">Connaître les protections utilisées (pare-feu, anti virus, anti spam...)</a><br/>
					<a href="#" style="color:#ffffff">Evaluer les risques.</a><br/>
					<a href="#" style="color:#ffffff">Déterminer les moyens de sauvegarde à mettre en oeuvre et leur périodicité.</a></p>
					<hr/>
					<h3 style="color:#ffffff">Notre expertise:</h3>
					<p style="color:#ffffff">Synapses effectuera donc un état des lieux de votre système d'information afin de : rechercher, déceler, appréhender les dysfonctionnements ou incohérences ; et vous conseillera sur les solutions à envisager et les procédures à respecter. Notre audit concernera les différentes composantes de la fonction informatique dans votre entreprise.</p>
					
					</div>
						
			</div>
	
		</div>
	</div>
</div>

    <footer>
    </footer>
	
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



</body>
<html>