<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Oxygen - One Page HTML Template | Themeum</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico">
</head><!--/head-->
<body>

<header>
</header>

<div class="container">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-1">
	Open Modal </button>
	<div class="modal" id="modal-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title"> Maintenance </h2>
			     </div>  
					<div class="modal-body" style="background-color:6699cc">
				   <p style="color:ffffff"> Au cours de leurs interventions régulières, et dans le cadre d'un contrat de maintenance, l'équipe technique de Synapses procède à une analyse complète du système et, dans le cas où nous détectons des anomalies graves, nous procédons, si cela paraît nécessaire, à une réinstallation complète du système.<br/>
					Synapses vous propose des solutions de maintenance informatique adaptées à vos besoins.<br/>
					Nous prenons en charge la maintenance informatique de vos équipements. Qu'il s'agisse d'un simple ordinateur ou d'un véritable réseau, notre expertise vous apporte une tranquillité pour vos systèmes.<br/>
					Pour bénéficier d'un service adéquat,Synapses vous propose un contrat de maintenance informatique modulable en fonction de vos besoins. Ainsi, tout problème venant de votre système sera évité et sera surtout traité en priorité. Le contrat de maintenance informatique est la meilleure solution pour répondre à vos attentes.
					Notre contrat de maintenance informatique prévoit 3 grands types de maintenance :</p>
					<hr/>
					<h3 style="color:ffffff"> la maintenance informatique préventive</h3>
					<ul style="color:ffffff">
					<li>Consistant à effectuer un nettoyage de vos ordinateurs, de mettre à jour les logiciels ou encore d'enlever les éventuels virus ou autres malwares.</li>
					</ul>
					<hr/>
					<h3 style="color:ffffff"> la maintenance informatique curative</h3>
					<ul style="color:ffffff">
					<li>Comprenant les interventions ponctuelles de dépannage. En cas de problème, vous êtes prioritaire sur le délai d'intervention.</li>
					</ul>
					<hr/>
					<h3 style="color:ffffff"> la maintenance informatique évolutive</h3>
					<ul style="color:ffffff">
					<li>Permettant d'améliorer le système par rapport à l'évolution des technologies. Cela peut être par exemple l'installation de nouveaux équipements ou la mise à jour de logiciels.</li>
					</ul>
					</div>
						
			</div>
	
		</div>
	</div>
</div>

    <footer>
    </footer>
	
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



</body>
<html>