<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Oxygen - One Page HTML Template | Themeum</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico">
</head><!--/head-->
<body>

<header>
</header>

<div class="container">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-1">
	Open Modal </button>
	<div class="modal" id="modal-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title"> Sécurité informatiques </h2>
			     </div>  
					<div class="modal-body" style="background-color:gray">
				   <p  style="color:#ffffff"> La sécurité informatique est primordiale sur un système et encore plus sur un réseau informatique en raison des partages de ressources qui se multiplient. La difficulté est de taille, car vous devez permettre à certains ordinateurs de votre réseau de communiquer entre eux, tout en empêchant que d'autres personnes de l'extérieur puissent profiter de ces ouvertures à des fins de piratage.<br/>
                     <ul style="color:#ffffff">
					<li>Il faut savoir que chaque partage de ressources effectué sur un ordinateur ouvre des portes de communication. Des portes non sécurisés sont autant de portes ouvertes au piratage informatique. </li>
					<li>C'est pour cela qu'une étude approfondie des besoins réels d'une entreprise s'impose. Une fois les besoins définis, il est plus facile de savoir si tel partage est nécessaire ou non. Si certains partages s'imposent, vous devez déterminer la façon optimale pour les sécuriser, afin de bloquer toute ouverture vers l'extérieur.</li>
					<li>Les interconnexions de réseaux (VPN ou internet) sont autant de critères qui peuvent altérer la fiabilité d'un système d'information.</li></p>
					</ul>
					<hr/>
					
					<h3 style="color:ffffff">Tests et Audits:</h3> 
					<p style="color:ffffff">Audit de sécurité.<br/>
					Test de sécurité.<br/>
                    Test Intrusion.</p>
					<hr/>
					<p style="color:ffffff">
					<h3 style="color:ffffff"> solution matérielle et logiciels:</h3>
					<a href="#"  style="color:ffffff">VPN</a><br/>
					<a href="#" style="color:ffffff">FireWall</a><br/>
					<a href="#" style="color:ffffff" >Serveur Mail</a></p>
					<hr/>
					<h3 style="color:ffffff">Prestations particulières:</h3>
					<a href="#" style="color:ffffff" >Gestion de crise.</a><br/>
					<a href="#" style="color:ffffff" >Système de supervision.</a><br/>
					<a href="#" style="color:ffffff" >Intégration. </a><br/>
					<a href="#" style="color:ffffff" >Déterminer les moyens de sauvegarde à mettre en oeuvre et leur périodicité.


					</div>
						
			</div>
	
		</div>
	</div>
</div>

    <footer>
    </footer>
	
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



</body>
<html>